@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    height: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

main {
    width: 750px;
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 1350px;
}



.profile-image {
    margin-top: 25px;
    margin-left: 100px;
    position: absolute;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 100%;
}

.profile-info {
    margin-top: 62.5px;
    margin-left: 237.5px;
    height: 87.5px;
    width: 462.5px;
    position: absolute;
    background-color: #77EEEE;
    padding-left: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-info h1 {
    font-size: 25px;;
    font-weight: bold;
}
.profile-info h2 {
    font-size: 20px;
}



.primary {
    width: 450px;
    background-color: #C3F3F3;
    padding-top: 175px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 100px;
    display: flex;
}


.primary-title {
    margin-top: 25px;
}
.primary-title h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;

    border: 1px solid black;
}
.education-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.education-item h1 {
    font-size: 17.5px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    padding-right: 5px;
}
.education-item h2 {
    font-size: 15px;
    flex: 1;
    padding-left: 5px;
}
.education-item-space {
    height: 35px;
    width: 7.5px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: #5F7F7F;
}

.primary .myskill-item {
    margin-top: 7.5px;
    border-radius: 5px;
    width: 100%;
}
.primary .myskill-item h2 {
    font-size: 17px;
    font-weight: bold;
}
.primary .myskill-item-progress {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.primary .myskill-item h4 {
    font-size: 15px;
    text-align: center;
}



.secondary {
    width: 300px;
    background-color: #5F7F7F;
    padding-top: 175px;
    display: flex;
    justify-content: center;
}

.secondary-title {
    margin-top: 25px;
    margin-bottom: 10px;
    border: 2.5px solid #77EEEE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondary-title h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.secondary-item {
    margin-bottom: 5px;
}
.secondary-item h2 {
    font-size: 12.5px;
    font-weight: bold;
    color: #77EEEE
}
.secondary-item h3 {
    font-size: 12.5px;
    color: white;
}
